{
	email {$ACME_EMAIL}
	servers {
		trusted_proxies_strict
	}
}

{$DOMAIN} {
	# VLESS xhttp трафик
	handle /api/stream* {
		reverse_proxy 127.0.0.1:8080 {
			flush_interval -1
			header_up X-Forwarded-For {remote_host}
		}
	}

	# Сайт — всё остальное
	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
